{% load static %}

<h1>{{ startup.startup_name }}</h1>
<br>
<div>
    <h2>스타트업 정보</h2>
    <strong>썸네일</strong>
    <br>
    <img src="/groupby{{ startup.thumbnail.url }}" width="200">
    <br>
    <br>
    <strong>한줄소개</strong>
    <br>
    {{ startup.briefIntro }}
    <br>
    <br>
    <strong>숏폼 영상 링크</strong>
    <br>
    {{ startup.pitch }}
    <br>
    <br>
    <strong>태그</strong>
    <br>
    {% for tag in tag_list %}
        #{{ tag.name }}
        <br>
    {% endfor %}
    <br>
    <strong>기업소개</strong>
    <br>
    {% autoescape off %}
        {{ startup.intro }}
    {% endautoescape %}
    <br>
    <br>
    <strong>조직문화</strong>
    <br>
    {% autoescape off %}
        {{ startup.culture }}
    {% endautoescape %}
    <br>
    <br>
    <strong>복지 및 혜택</strong>
    <br>
    {% autoescape off %}
        {{ startup.benefit }}
    {% endautoescape %}
    <br>
    <br>
    <strong>채용설명회 링크</strong>
    <br>
    {% for pt in pt_list %}
        {{ pt.url }}
        <br>
    {% endfor %}
    <br>
    <br>
    <div>
        <strong>스타트업 이미지</strong>
        <br>
        {% for image in image_list %}
            <img src="/groupby{{ image.url.url }}" width="200">
            <br>
            <br>
        {% endfor %}
    </div>
</div>
<br>
<br>
<br>
<div>
    <h2>스타트업 직원</h2>
    {% if member_list %}
        {% for member in member_list %}
            <strong>이름</strong>
            <br>
            {{ member.name }}
            <br>
            <br>
            <strong>역할</strong>
            <br>
            {{ member.role }}
            <br>
            <br>
            <strong>이력</strong>
            <br>
            {{ member.career }}
            <br>
            <br>
            <strong>소개</strong>
            <br>
            {% autoescape off %}
                {{ member.intro }}
            {% endautoescape %}
            <br>
            <br>
            <br>
        {% endfor %}
    {% endif %}
</div>
<br>
<br>
<div>
    <h2>스타트업 구인 페이지</h2>
    {% if position_list %}
        {% for position in position_list %}
            <strong>구인 포지션 이름</strong>
            <br>
            {{ position.name }}
            <br>
            <br>
            <strong>채용 마감일</strong>
            <br>
            {{ position.dueDate }}
            <br>
            <br>
            <strong>채용 포지션</strong>
            <br>
            {{ position.position }}
            <br>
            <br>
            <strong>테크 스택</strong>
            <br>
            {% for techstack in position.techStacks.all %}
            {{ techstack.name }}
            <br>
            {% endfor %}
            <br>
            <strong>경력</strong>
            <br>
            {{ position.careerType }}
            <br>
            <br>
            <strong>주요업무</strong>
            <br>
            {% autoescape off %}
                {{ position.task }}
            {% endautoescape %}
            <br>
            <br>
            <strong>자격요건</strong>
            <br>
            {% autoescape off %}
                {{ position.qualification }}
            {% endautoescape %}
            <br>
            <br>
            <strong>우대사항</strong>
            <br>
            {% autoescape off %}
                {{ position.preferred }}
            {% endautoescape %}
            <br>
            <br>
            <br>
        {% endfor %}
    {% endif %}
</div>
<br>
<br>
<br>
<form>
    <a href="{% url 'groupby:startup_upload_update' startup.id %}">
        <input type="button" value="스타트업 정보 수정하기">
    </a>
    <br>
    <a href="{% url 'groupby:startup_upload_delete' startup.id %}">
        <input type="button" value="스타트업 정보 삭제하기">
    </a>
</form>

    