{% load static %}

<h1>{{ startup.startup_name }}</h1>
<br>
<div>
    <h2>스타트업 정보</h2>
    <strong>썸네일</strong>
    <br>
    <img src="/groupby{{ startup.thumbnail_image.url }}" width="200">
    <br>
    <br>
    <strong>한줄소개</strong>
    <br>
    {{ startup.short_introduce }}
    <br>
    <br>
    <strong>숏폼 영상 링크</strong>
    <br>
    {{ startup.short_form_video }}
    <br>
    <br>
    <strong>태그</strong>
    <br>
    {% for tag in tag_list %}
        {% if tag.tag != "" %}
            #{{ tag.tag }}
            <br>
        {% endif %}
    {% endfor %}
    <br>
    <strong>기업소개</strong>
    <br>
    {{ startup.startup_introduce }}
    <br>
    <br>
    <strong>조직문화</strong>
    <br>
    {{ startup.startup_culture }}
    <br>
    <br>
    <strong>복지 및 혜택</strong>
    <br>
    {{ startup.startup_welfare }}
    <br>
    <br>
    <strong>채용설명회 링크</strong>
    <br>
    {{ startup.recruit_conference_video }}
    <br>
    <br>
    <div>
        <strong>스타트업 이미지</strong>
        <br>
        {% for image in image_list %}
            <img src="/groupby{{ image.image.url }}" width="200">
            <br>
            <br>
        {% endfor %}
    </div>
</div>
<br>
<br>
<br>
<div>
    <h2>스타트업 직원</h2>
    {% if employee_list %}
        {% for employee in employee_list %}
            {% if employee.name != "" and employ.introduce != "" %}
                <strong>이름</strong>
                <br>
                {{ employee.name }}
                <br>
                <br>
                <strong>직원소개</strong>
                <br>
                {{ employee.introduce }}
                <br>
                <br>
                <br>
            {% endif %}
        {% endfor %}
    {% endif %}
</div>
<br>
<br>
<div>
    <h2>스타트업 구인 페이지</h2>
    {% if recruit_list %}
        {% for recruit in recruit_list %}
            {% if employee.recruit_position != "" %}
                <strong>채용중 여부</strong>
                <br>
                {{ recruit.is_recruiting }}
                <br>
                <br>
                <strong>채용 마감일</strong>
                <br>
                {{ recruit.recruit_ending }}
                <br>
                <br>
                <strong>채용 포지션</strong>
                <br>
                {{ recruit.recruit_position }}
                <br>
                <br>
                <strong>테크 스택</strong>
                <br>
                {{ recruit.techstack}}
                <br>
                <br>
                <strong>경력</strong>
                <br>
                {{ recruit.career }}
                <br>
                <br>
                <strong>주요업무</strong>
                <br>
                {{ recruit.job_info }}
                <br>
                <br>
                <strong>자격요건</strong>
                <br>
                {{ recruit.qualification }}
                <br>
                <br>
                <strong>우대사항</strong>
                <br>
                {{ recruit.preference }}
                <br>
                <br>
                <br>
            {% endif %}
        {% endfor %}
    {% endif %}
</div>
<br>
<br>
<br>
<form>
    <a href="{% url 'groupby:startup_upload_update' startup.id %}">
        <input type="button" value="스타트업 정보 수정하기">
    </a>
    <br>
    <a href="{% url 'groupby:startup_upload_delete' startup.id %}">
        <input type="button" value="스타트업 정보 삭제하기">
    </a>
</form>

    